name: DevSecOps Pipeline

on:
  push:
    branches: [ "main" ]

permissions:
  contents: read
  security-events: write
  actions: read

jobs:
  devsecops:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout code
      - name: Checkout repository
        uses: actions/checkout@v3

      ############################################
      # 2. Analyse SAST avec CodeQL
      ############################################
      - name: Initialize CodeQL
        uses: github/codeql-action/init@v3
        with:
          languages: python

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v3

      ############################################
      # 3. Analyse sécurité Python avec Bandit
      ############################################
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"

      - name: Install Bandit
        run: pip install bandit

      - name: Run Bandit security scan
        run: bandit -r api -ll  # -ll = afficher high & medium

      ############################################
      # 4. Build Docker image
      ############################################
      - name: Build Docker image
        run: docker build -t devsecops-api .

      ############################################
      # 5. Scan Docker image avec Trivy
      ############################################
      - name: Run Trivy vulnerability scan
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: image
          image-ref: devsecops-api
          severity: CRITICAL,HIGH
          exit-code: 1
